@use 'variaveis';

.hero {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;

    &__image {
        width: 1024px;
    }

    &__title {
        margin-top: 25px;
        color: variaveis.$colorTitle;
        font-size: 40px;
        font-family: "Rubik Gemstones", system-ui;
    }

    &__text {
        margin-top: 20px;
    }

    &__contador{
        font-size: 40px;
        color: black;
    }

    @media (max-width: 640px) {
        .hero {
            display: block;

            .hero__image {
                width: 30px;
            }

            &__title {
                text-align: center;
                font-size: 25px;
            }
        }
    }


    @media (max-width: 1024px) {
            .hero {
                text-align: center;

                &__image {
                    max-width: 100%;               
                }
            }

        
    }
}