$colorTitle : rgb(71, 41, 4);
$colortexts : rgb(100, 72, 38);
$colortextPratos : #f3cfa1;

$gradient1 :rgb(238, 200, 154);
$gradient2 : rgb(206, 160, 105);
$gradient3 :  rgb(134, 91, 38);
$gradient4 :  rgb(78, 45, 5);