@use 'hero';
@use 'variaveis';
@use 'carousel';
@use 'principais';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inria Serif", serif;
    color: variaveis.$colortexts;
}

.container {
    max-width: 1023px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

body {
    background-color: rgb(238, 200, 154);
}

